.container-home-pg
{
display:grid;
grid-template-columns:100%;
grid-template-rows: 100%;
grid-template-areas:
"mpt"
"hd"
"art"
"pic"
"form"
"ft";
}

.page-main-title{
grid-area:mpt;
}

.header-items{
grid-area:hd;
}

.home-pg-article{
grid-area:art;
}

.photo1{
grid-area:pic;
 
}

.subscriber-form{
grid-area:form;
}

.footer-text{
grid-area:ft;
}





}

h1{
   color:black;
   text-align: center;
  }

p
 {
    color:black;
    text-align:left;
    font-size:1.0em;
    font-family:verdana;
 }

.home-pg-article
{
 
margin:20px;
border: 2px solid black;
box-shadow: 5px 5px 20px  ;
}