
.photo1 {
  border: 2px solid black;
  
 /* background-image: url(../images/town-hall.jpg); */
  background-repeat: no-repeat;
   background-height:5%;
  background-width:15%; 
  

}


.photo2
{
background-image:
 url(../images/silchester-mosaic.jpg);
   border: 2px solid black;

 padding: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid black;
}

.photo3
{
background-image:
 url(../images/silchester-mosaic2.jpg);
 padding: 25px;
 border: 2px solid black;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid black;
}

.photo4
{
background-image:
url(../images/stupid-harold.jpg);
padding: 25px;
border: 2px solid black;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid black;
}

.photo5
{
background-image:
 url(../images/battle-hastings.jpg);
 padding: 25px;
 border: 2px solid black;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid black;
}

