.blog-card {
border: 2px solid black ;
box-shadow: 5px 5px 20px  ;
 
margin:5px;
border-radius:10px;
text-align: center;
}


.blog-text {
border: 2px solid black ;
box-shadow: 5px 5px 20px  ;
 
margin:5px;
border-radius:10px;
}

.list-items {
font-weight: bold;
}

.blog-card
{
background-color:#eaf9e1;
display:grid;
grid-template-columns:50% 50%;
grid-template-rows: 7fr 7fr 8fr 30fr 27fr 7fr;
grid-template-areas:
"hd hd hd hd hd hd hd hd"
"mpt mpt mpt mpt mpt mpt mpt mpt"
"aut aut aut aut aut aut aut aut"
"art art art art art art art art"
"pics pics pics pics pics pics pics pics"
"ft ft ft ft ft ft ft ft";
}

.header-items{
grid-area:hd;
}

.blog-posting1-title{
grid-area:mpt;
text-align: center;
}

.blog-card-author{
grid-area:aut;
border: 2px solid black;
border-radius: 15px;
text-align: center;
box-shadow:10px 10px;
}

.blog-text{
grid-area:art;
}

.blog-pg-nested-grid{
grid-area:pics;
}

.blog-pg-nested-grid{
display:grid;
grid-template-columns:50fr 50fr;
grid-template-rows:50fr 50fr;
}

 
.footer-text{
grid-area:ft;
}


  
 


 