.blog-card {
border: 2px solid black ;
box-shadow: 5px 5px 20px  ;
max-width: 100%;
margin:5px;
border-radius:10px;
text-align: center;
}


.blog-text {
border: 2px solid black ;
box-shadow: 5px 5px 20px  ;
max-width: 100%;
margin:5px;
border-radius:10px;
}

.list-items {
font-weight: bold;
}

.blog-card
{
background-color:#eaf9e1;
display:grid;
grid-template-columns:100%;
grid-template-rows: 10fr 10fr 8fr 25fr 26fr 7fr;
grid-template-areas:
"mpt"
"hd"
"aut"
"art"
"pics"
"ft";
}

.header-items{
grid-area:hd;
}

.blog-posting1-title{
grid-area:mpt;
text-align: center;
}

.blog-card-author{
grid-area:aut;
border: 2px solid black;
border-radius: 15px;
text-align: center;
box-shadow:10px 10px;
}

.blog-card{
grid-area:art;
}

.blog-pg-nested-grid{
grid-area:pics;
}

.blog-pg-nested-grid{
display:grid;
grid-template-columns:50% 50%;
grid-template-rows: 50% 50%;
}

 
.footer-text{
grid-area:ft;
}


  
 


 