.container-home-pg
{
background-color:#eaf9e1;
display:grid;
grid-template-columns:100%;
grid-template-rows: 6fr 2fr 22fr 17fr 17fr 6fr;
grid-template-areas:
"mpt"
"hd"
"art"
"pic"
"form"
"ft";
}

.page-main-title{
grid-area:mpt;
text-align: center;
}

.header-items{
grid-area:hd;
}

.home-pg-article{
grid-area:art;
border: 2px solid black;
border-radius: 15px;
text-align: center;
box-shadow:10px 10px;
}

.photo1{
grid-area:pic;
 vertical-align:middle;
}

.subscriber-form{
grid-area:form;
}

.footer-text{
grid-area:ft;
}


  
 




h1{
   color:black;
   text-align: center;

  }

p
 {
    color:black;
    text-align:left;
    font-size:1.5em;
    font-family:verdana;
 }

 

.home-page-article-paras{
text-align: center;
}

figcaption {
  display: block;
font-weight: bold;
}