.photo1
{
background-image: 
 url("../images/town-hall.jpg");
}

.photo2
{
background-image:
 url("../images/silchester-mosaic.jpg");
}

.photo3
{
background-image:
 url("../images/silchester-mosaic2.jpg");
}

.photo4
{
background-image:
 url("../images/stupid-harold.jpg");
}

.photo5
{
background-image:
 url("../images/battle-hastings.jpg");
}

